.profile-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    .dropdown{
        position: absolute;
        top: 80px;
        right: 20px;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        row-gap: 1px;
        background-color: white;
        border: 1px solid #E0E0E0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        width: 150px;
        height: 100px;

        .profile-link-container{
            padding: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;

            a{
                font-size: 0.75rem;
                color: #4F4F4F;
                font-weight: 500;
                height: fit-content;
                text-decoration: none;
                
            }

            &:hover{
                background-color: #E0E0E0;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        
        .logout-container{
            padding: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;

            p{
                font-size: 0.75rem;
                font-weight: 500;
                color: #EB5757;
            }

            &:hover{
                background-color: #E0E0E0;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .profile-options{
        margin-right: 20px;
        margin-top: 20px;
        cursor: pointer;

        img{
            width: 45px;
            height: 45px;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
        }

        span{
            display: none;
        }

        .triangle{
            display: none;
            width: 0; 
            height: 0; 
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid black;
            border-radius: 5px;
        }
    }
}

.profile-main-container{
    // width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 40px;

    .back{
        
        width: 90%;
        margin-top: 20px;

        a{
            text-decoration: none;
            color: black;
            display: flex;
            flex-direction: row;
            width: fit-content;
        }
    }

    .profile-inner-container{
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        width: 90%;
        
        .profile-msg{
            text-align: left;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            // margin-top: 35px;
            align-self: flex-start;
    
            h1{
                font-size: 1.5rem;
                font-weight: 500;
            }
    
            p{
                font-size: 0.9rem;
                font-weight: 300;
            }
        }

        h3{
            color: #BDBDBD;
            font-size: 0.8rem;
            font-weight: 500;
        }

        .profile-img{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .img-container{
                width: 70px;
                height: 70px;
                position: relative;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
                
                .overlay{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;

                    .camera{
                        width: 60%;
                        cursor: pointer;
                    }
                    
                    &:hover{
                        opacity: 1;
                        background-color: rgba(0, 0, 0, 0.267);
                        overflow: hidden;
                    }
                }

                .imageError{
                    width: 280px;
                    color: #EB5757;
                    animation: imageError 0.5s ease-in 2s forwards;
                }
            }

            p{
                font-size: 1rem;
            }
        }

        .form-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            .form{
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                textarea, input{
                    width: 100%;
                    border-radius: 5px;
                    border: 1.8px solid #BDBDBD;
                    font-size: 1rem;
                    padding: 7px;
                    resize: none;
                }

                textarea{
                    height: 150px;
                }
            }

            .btn{
                border-bottom: 2px solid #E0E0E0;
                background-color: #2F80ED;
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 1rem;
                padding: 5px 15px;
                cursor: pointer;
                margin-bottom: 15px;
                width: fit-content;
            }
        }
    }
}

.message{
    position: fixed;
    top: 120px;
    right: 50px;
    background-color: #9FD8DF;
    padding: 10px;
    border-radius: 5px;
    animation: messageAnim 2.8s cubic-bezier(0.54, -0.16, 1, 0.65) forwards;
    
    p{
        color: black;
    }
}

@keyframes imageError {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes messageAnim {
    0% {
        transform: translateY(-15px);
        opacity: 0;
    }
    22% {
        opacity: 1;
        transform: translateY(18px);
    }
    25% {
        opacity: 1;
        transform: translateY(15px);
    }
    50%{
        opacity: 1;
        transform: translateY(15px);
    }
    75% {
        opacity: 1;
        transform: translateY(15px);
    }
    90% {
        opacity: 1;
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-15px);
        opacity: 0;
    }
}

@keyframes opacityDropdown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 600px) {

    .profile-header{

        .dropdown{
            right: 80px;
        }

        .profile-options{
    
            span{
                display: block;
            }
    
            .triangle{
                display: block;
            }
        }
    }
    
    .profile-main-container{
    
        .profile-inner-container{
            display: flex;
            flex-direction: column;
            grid-row-gap: 5px;
            row-gap: 5px;
            width: 90%;
            border: 2px solid #E0E0E0;
            border-radius: 12px;

            .profile-msg{
                padding: 15px 25px;
            }
    
            h3{
                color: #BDBDBD;
                font-size: 0.8rem;
                font-weight: 500;
            }
    
            .profile-edit{
                padding: 15px 25px;

                div{
                    width: 50%;
    
                    h2{
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
    
                    p{
                        font-size: 0.8rem;
                        color: #828282;
                        font-weight: 400;
                    }
                }
            }
    
            .profile-img{
                padding: 15px 25px;
                justify-content: flex-start;
                column-gap: 25px;
            }
    
            .form-container{
                padding: 15px 25px;
    
                .form{
    
                    textarea, input{
                        width: 55%;
                    }
                }
            }
        }
    }

}


@media only screen and (min-width: 768px) {
    .profile-main-container{

        .back{
            width: 750px;
        }

        .profile-inner-container{
            width: 750px;
            margin-bottom: 20px;
        }
    }   
}