.signup-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .signup-inner-container{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .intro{
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            & p:nth-child(1){
                font-weight: 600;
                font-size: 1.2rem;
            }

            & p:nth-child(2){
                font-weight: 400;
                font-size: 1rem;
            }

        }

        .form{
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .email-form{
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                label{
                    color: #828282;
                }

                input{
                    border-radius: 5px;
                    border: 1.8px solid #BDBDBD;
                    font-size: 1rem;
                    padding: 7px;

                    &:focus{
                        outline: 2px solid #2F80ED;
                    }
                }
                
            }
            .btn{
                background-color: #2F80ED;
                border: none;
                border-radius: 5px;
                color: white;
                width: 100%;
                font-size: 1rem;
                padding: 8px;
                cursor: pointer;
            }
        }

        .social{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 25px;

            & p:nth-child(1){
                color: #828282;
                font-size: 0.9rem;
            }

            & p:nth-child(3){
                color: #828282;
                font-size: 0.9rem;

                a{
                    color: #5f9ff3;
                    cursor: pointer;
                    text-decoration: none;
                }
            }

            .icons{
                width: 100%;
                display: flex;
                justify-content: space-evenly;

                img{
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {

    .signup-main{  
    
        .signup-inner-container{
            width: 450px;
            height: 680px;
            border: 2px solid #BDBDBD;
            border-radius: 24px;
            padding: 50px;
            row-gap: 25px;
        }
    }

} 